
body {
    font-family: 'Merriweather', serif;
    padding-top: 70px;
    padding-bottom: 52px;
    background-color: #FBFBFF;
    padding-left:45px;
    padding-right:45px;
}

p {
    margin-top:5px;
    margin-bottom:5px;
}

.navbar {
    margin-bottom: 0px;
    padding: 10px 25px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-inverse {
    background-color: rgb(30, 35, 50);
}

    .navbar-inverse .navbar-nav > li > a {
        color: #FAFAFA;
        padding-left:5px;
    }

    .navbar-inverse .navbar-brand {
        color: #FAFAFA;
        font-size: 20px;
    }

.cbp-af-header-shrink {
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0.9;
}



nav {
    text-align: center;
}

    nav > div > ul > li {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom:5px;
        padding-top:5px;
        font-size: 20px;
    }

#photograph {
    padding-left: 0px;
    padding-right: 0px;
}

#photo {
    display: block;
    margin: 5px auto;
    border: 1px solid #101010;
    box-shadow: rgba(0,0,0,0.5) 10px 10px 10px;
    height:70%;
    width:auto;
}



#general {
    padding-top:0px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom:0px;
}
#general > h1, h4, h5{
    margin-top:0px;
    padding-top:5px;
    padding-bottom:5px;
}


a {
    color: rgb(51, 51, 51);
}
.section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.leftside {
    vertical-align: middle;
    text-align:center;
    padding-bottom:10px;
}

section {
    border-width: 0px 0px 1px 0px;
    border-color: #bebebe;
    border-style: solid;
    box-shadow: 0 4px 2px -2px gray;
    padding-bottom:10px;
    padding-top:10px;
    margin-left:0px;
    margin-right:0px;
}

footer {
    background-color: rgb(30, 35, 50);
    color: #FAFAFA;
    font-size: 14px;
}

#copyright {
    padding-left:15px;
    vertical-align:middle;
}

ul {
    margin-bottom:0px;
}

#logo {
    text-align:right;
}

#linkedin, #facebook, #gmail {
    height: 32px;
}

@media (max-width: 991px) {
    #summary{
        display:block!important;
    }
    #education{
        display:block!important;
    }
    #experience{
        display:block!important;
    }
    #skills{
        display:block!important;
    }
}
@media (max-width: 767px) {
    #general {
        padding-left: 30px;
        padding-right: 30px;
    }
    #copyright {
        text-align:center!important;
    }
    #logo {
        text-align:center!important;
    }
}


@media (max-width: 476px) {
    .navbar {
        padding-left: 0px;
    }
    .navbar-brand {
        font-size: 4vmin!important;
    }
    #general > h1, h4, h5{
    margin-top:0px;
    margin-bottom:0px;
    padding-top:2px;
    padding-bottom:2px;
    }
    body {
        padding-left:5px;
        padding-right:5px;
    }
}
@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }

    .col-sm-height {
        display: table-cell;
        float: none;
        height: 100%;
        vertical-align: middle;
    }
}

@media (min-width: 992px) {
    .row-md-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }

    .col-md-height {
        display: table-cell;
        float: none;
        height: 100%;
        vertical-align: middle;
    }
    #container {
        overflow:hidden;
    }
    a:hover {
        color:black;
        text-decoration:none;
    }
    a:link {
        text-decoration:none;
    }
    #summary{
        display:block;
        padding-top:200px;
    }
    #education{
        display:none;  
        padding-top:200px;
    }
    #experience{
        display:none;
        padding-top:200px;
    }
    #skills{
        display:none;
        padding-top:200px;
    }
    
    #top {
        position:fixed;
        z-index:1;
        background-color: #FBFBFF;
        margin-right:45px;
    }
}

