<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 col-10">
      <form id="searchForm" (ngSubmit)="searchMovies(searchTerm)" class="navbar-form">
        <div class="input-group">
          <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Movie title..">
          <button class="btn btn-secondary">Search</button>
        </div>
      </form>
    </div>
    <div class="col-md-1 col-2 div-center">
      <button (click)="sortBy()" class="btn btn-secondary sort"><i  class="fa fa-sort-alpha-asc fa-lg" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row justify-content-around">
    <!-- used routerLink to access route to MovieDetailComponent,
           in routes.ts i need 'movies:id', now i get two params, movies + movie.id -->
    <app-movie-list [routerLink]="['/movies', movie.id]" class="col-md-4 borderless pointer" *ngFor="let movie of filteredMovies"
      [movie]="movie"></app-movie-list>
    <!-- ngFor let movie of movies iterates one item, next item etc. (movie reads property id from movies)
           let movie (from movie-list.component that it's html is repeatly showing instances of movies that are declared in movies.component')
           I think it works that way. But movie-list.component needs @Input value, i'm pushing movie.title, image to movie-list.component.html.
           Why it's [movie]="movie" here? It makes instances of array objects movies, but i think my @Input needs reference to this [movie].
           and my !! movie !! of movies passing others params to [movie]-->
  </div>
</div>